.navbar{
	border-bottom:4px solid #2ebdf2;
}

.nav > li > a:hover {
    background-color: #2ebdf2;
}

.nav > li.current a{
    background-color: #2ebdf2;	
}

.slider_title{
	border-left:2px #2ebdf2 solid;
}

#pageLoad{
	background:url(../images/circle1.png);
}

.top_btn{
	background:#123241;
}

.heading span{
	color: #2ebdf2;
}

.welcome_txt span{
	background: #2ebdf2;
}

.b1, .b3, .b22{
	background:#2ebdf2;
}

.publication .fa{
	color:#2ebdf2;
}

.education .fa{
	color:#2ebdf2;
}

#myTab1.nav-tabs > li.active > a, #myTab1.nav-tabs > li.active > a:hover, 
#myTab1.nav-tabs > li.active > a:focus, #myTab1.nav-tabs > li > a:hover, 
#myTab1.nav-tabs > li > a:focus{
	background:#2ebdf2;
}

.how_can_you_help{
	background:#123241;
}

.act .fa{
	color:#2ebdf2;
}

.carousel-indicators .active{
	background:#2ebdf2;
}

.btn-danger {
    background-color: #2ebdf2;
}

#signup .button{
	background:#2ebdf2;
}

.tt-grid-wrapper nav a.tt-current {
	background:#2ebdf2;
}

.recent_news h4{
	color:#2ebdf2;
}

p.readmore a{
	color:#2ebdf2;
}

.team a:hover .fa{
	color:#2ebdf2;
}

.contact{
	background:rgba(210, 210, 210, 0.7);
}

.footer{
	background:#2ebdf2;
}

.how_can_you_help .heading span.brd {
	color: white;
}

.how_can_you_help .fa {
	color: white !important;
}

.about_us {
	background:#2ebdf2;
}